/* Подключение шрифтов */
@font-face {
    font-family: Exo Thin; /* Имя шрифта */
    src: url(fonts/Exo-Thin.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Exo Medium; /* Имя шрифта */
    src: url(fonts/Exo-Medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Exo Regular;
    src: url(fonts/Exo-Regular.ttf);
}
/* Убираем дефолтные настройки */
body {
	margin: 0;
	background-color: #282828;
}

span {
	color: #ff6d6d
}

p {
	margin: 0;
}

input {
	margin: 0 15px;
	padding: 0;
	border-width: 1px;
	border-color: #ffffff;
	background: #464c77;
	border-radius: 3px;
	height: 48px;
	width: 263px;
	text-transform: uppercase;
}
 input::-webkit-input-placeholder {
 	font-family: Exo Regular;
 	padding-left: 25px;
    color:#f6f5f3;
    font-size: 15px;
	letter-spacing: 0.4px;
	line-height: 75px;
} 

.main {
	font-family: Exo Medium;
	color: rgba(40,40,40,0.66);
	font-size: 16px;
	letter-spacing: 0.4px;
	line-height: 26px;
	background: #fff;
	width: 1440px;
	margin: 0 auto;
}
/* Стили шапки */
.header {
	height: 813px;
	background-image: url(img/header-bg.jpg);
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
 	justify-content: center;
 	flex-direction: column;
}

.header-title {
	font-family: Exo Thin;
	font-size: 60px;
	width: 750px;
	text-align: center;
	line-height: 75px;
	color: #282828;
}

.header-details {
	color: #282828;
	font-family: Exo Regular;
	font-size: 14px;
	margin-top: 20px;
	padding-bottom: 30px;
	opacity: 0.6;
}
/* Стили кнопок */
.button {
	background-color: none;
	border: 0;
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.header-button-play {
	position: relative;
	height: 60px;
	width: 60px;
	background-color: #8286a3;
	border-radius: 50%;
	line-height: 0;
	font-size: 0;
	transition: 0.4s;
}

.header-button-play::after {
	position: absolute;
	display: inline-block;
	left: 23px;
	top: 20.5px;
	content: ''; 
	border-top: 10px solid transparent;
	border-left: 20px solid #f5f6f8;
	border-bottom: 10px solid transparent;
	transition: 0.4s;
}

.header-button-play:hover {
	background-color: #ff6d6d;
}

 .header-button-play:hover::after {
 	transform: scale(1.2);
}

.button-primary {
	border-radius: 3px;
	height: 50px;
	width: 190px;
	background-color: #ff6d6d;
	font-family: Exo Regular;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 50px;
	transition: 0.4s;
}

.button-primary:hover {
	background-color: #8286a3;
}

.button-header {
	margin-top: 40px;
}

/* Стили секции  Platform*/
.section-platform {
	white-space: nowrap;
	font-size: 0;
}

.section-content {
	box-sizing: border-box;
	padding-top: 190px;
	padding-left: 150px;
	padding-right: 150px;
	width: 870px;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
}

.section-img {
	position: relative;
	padding: 92px 0;
	width: 570px;
	display: inline-block;
	vertical-align: top;
	background: #ededed;
	text-align: center;
}

.section-img::after {
	position: absolute;
	display: inline-block;
	content: ''; 
	right: 0;
	bottom: 0;
	border-left: 570px solid transparent;
	border-bottom: 490px solid rgba(255,138,138,0.58);
}

.section-theme {
	color: #ff6d6d;
	font-family: Exo Medium;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 50px;
}

.section-theme-center {
	text-align: center;
}

.section-title {
	color: #282828;
	font-family: Exo Medium;
	font-size: 40px;
	letter-spacing: 0.4px;
	line-height: 50px;
}

.section-title-center {
	text-align: center;	
}

.section-text {
	opacity: 0.66;
	margin: 0;
	padding-top: 45px;
	font-size: 16px;
}

/* Стили секции  Features*/
.section-features {
	overflow: hidden;
	position: relative;
	background: #f6f5f3;
	padding-top: 123px;
}

.section-block-list {
	display: flex;
	padding: 0 130px;
	padding-bottom: 90px;
}
 
.section-block-list p {
	opacity: 0.66;
}

.section-block {
	margin: 90px 25px;
	text-align: center;
}

.section-block-title {
	padding-top: 14px;
	font-size: 22px;
	color: #282828;
	line-height: 50px;
}

.section-features-pen {
	position: absolute;
	left: 85px;
	top: -15px;
}

.section-features-earphones {
	position: absolute;
	right: 140px;
	top: -33px;
}

.section-features-cup {
	position: absolute;
	right: 50px;
	bottom: -138px;
}

/* Стили секции  Design*/
.section-design-img {
	position: relative;
	padding-left: 40px;
	padding-bottom: 90px;
	padding-top: 90px;
	display:inline-block;
	vertical-align: top;
	z-index: 1;
}

.section-content-design {
	vertical-align: top;
	display: inline-block;
	padding-top: 120px;
	padding-bottom: 136px;
	padding-left: 60px;
	width: 500px;
}

.section-design {
	display: flex;
	align-items: center;
  	justify-content: flex-start;
	overflow: hidden;
	position: relative;
 }

.section-design::after {
	position: absolute;
	display: inline-block;
	content: ''; 
	left: 0;
	bottom: 0;
	border-right: 607px solid transparent;
	border-bottom: 607px solid #ff8a8a;
	z-index: 0;
 }

 .section-design-img-notebook {
 	position: absolute;
 	left: 132px;
 	top: 135px;
 } 
/* Стили секции Contacts*/
.section-contacts {
	background: #000;
	background-image: url(img/section-clients-bg.png);
}

.contact-block-list {
	color: #ffffff;
	display: flex;
	padding: 0 130px;
	padding-top: 110px;
}

.contact-opacity {
	opacity: 0.66;
}
.contact-block-title {
	font-style: normal; 
	font-family: Exo Medium;
	font-size: 22px;
	letter-spacing: 0.4px;
	padding-bottom: 15px;
}

.contact-block {
	width: 315px;
	margin: 0 40px;
	font-family: Exo Regular;
	text-align: center;
	font-style: italic;
	font-size: 16px;
	letter-spacing: 0.4px;
	line-height: 26px;
}

.section-contacts span {
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0px;
}

.contact-block-title p {
	line-height: 50px;
}

.section-contact-logos {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 80px;
}

/* Стили секции Description*/

.section-description{
	position: relative;
}

.section-description-content {
	margin: 0 auto;
	text-align: center;
	width: 670px;
	padding: 90px 0;
}

.section-description-img {
	line-height: 0;
	text-align: center;
	margin: 0;
}

.windows-img {
 	position: absolute;
 	left: 335px;
 	top: 460px;
 } 
/* Стили секции Registration*/

.section-registration {
	background: #323969;
}

.section-registration .section-title {
	color: #ffffff;
}

.section-registration-content {
	padding-top: 95px;
	margin: 0 auto;
	text-align: center;
}

.section-registration-link {
	font-family: Exo Regular;
	font-size: 16px;
	letter-spacing: 0.4px;
	line-height: 75px;
	text-align: center;
	color: #f6f5f3;
	opacity: 0.6;
	padding-top: 50px;
	padding-bottom: 85px;
}

.section-registration-link a {
	font-family: Exo Regular;
	font-size: 16px;
	letter-spacing: 0.4px;
	line-height: 75px;
	color: #f6f5f3;
	opacity: 0.6;
}

.section-registration-log .button-primary {
	width: 258px;
	margin-left: 15px;
	box-shadow: 0 3px 3px rgba(14,15,15,0.25);
}
 
.section-registration-log {
	position: relative;
	padding-top: 100px;
	text-align: center;
}

.log-help {
	position: absolute;
	top: 40px;
	right: 195px;
	font-family: Exo Regular;
	font-size: 14px;
	letter-spacing: 0.4px;
	font-style: italic;
	color: #f6f5f3;
}

.log-help::before {
	position: absolute;
	top: 5px;
	left: -35px;
	background: url(img/ARROW.png);
	content: '';
	height: 41px;
	width: 56px;

}

